In [1]:
import pandas as pd

In [2]:
file_path = "iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
output_file_path = "new_iris_data.csv"
new_iris_df.to_csv("new_iris_data.csv", index=False)

In [5]:
file_path = "shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [6]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [18]:
# Find null values
for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()}
null values")

SyntaxError: EOL while scanning string literal (Temp/ipykernel_5088/236295265.py, line 3)

In [13]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [17]:
# Find duplicate entries
print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [ ]:
# Saving cleaned data
file_path = "<path to your folder>/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [ ]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

In [ ]:
# Loading data
file_path = "new_iris_data_csv"
df_iris = pd.read_csv(file_path)
df_iris.head(10)

In [ ]:
# Initializing model with K = 3 (since we already know there are three classes of iris plants)
model = KMeans(n_clusters=3, random_state=5)
model

In [ ]:
# Fitting model
model.fit(df_iris)

In [ ]:
# Get the predictions
predictions = model.predict(df_iris)
print(predictions)

In [ ]:
# Add a new class column to the df_iris
df_iris["class"] = model.labels_
df_iris.head()

In [ ]:
import plotly.express as px
import hvplot.pandas

In [ ]:
# Create a scatterplot of df_iris
df_iris.hvplot.scatter(x="sepal_length", y="sepal_width", by="class")

In [ ]:
# Plotting the clusters with three features
fig = px.scatter_3d(df_iris, x="petal_width", y="sepal_length", z="petal_length", color="class", symbol="class", size="sepal_width",width=800)
fig.update_layout(legend=dict(x=0,y=1))
fig.show()